@charset "UTF-8";
@import url(style.css);

.box{
    height: 80vh;
    position: relative;
    text-align: center;
}
.inner{
    left: 50%;
    position: absolute;
    top: 50%;
}
.title {
	padding: 10em 0;
    transform: translate(-50%,-50%);
}
p.subTitle {
	font-size: 16px;
	margin-top: -40px;
}
p.gotoTop {
	text-align: center;
	padding-top: 50px;
}
p.gotoTop a {
	color: #aaa;
}

.title {
	text-align: center;
	color: #fff;
}
.title h2 {
	font-family: 'Allura', cursive;
	font-size: 70px;
	color: #ffffff59;
	transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    text-align: center;
    padding-top: 15px;
    display: inline-block;
}
p.subTitle {
	margin-top: -50px;
	font-size: 20px;
}