@charset "UTF-8";
@import url("style.css");

* {
  box-sizing: border-box;
}
h3 {
	  font-family: 'Cinzel Decorative', cursive;
	  font-size: 25px;
	 position: relative;
	 height: 50px;
	 line-height: 50px;
	 padding: 0 1em;
	 background-color: #f0f0f0;
	 display: inline-block;
	 margin-left: -30px;
}
h3::before,
h3::after {
	 content: '';
	 position: absolute;
}
h3::before {
	 top: 100%;
	 left: 0;
	 border-width: 0 15px 15px 0;
	 border-style: solid;
	 border-color: transparent;
	 border-right-color: #ccc;
}
h3::after {
	 top: 0;
	 right: 0;
	 z-index: 2;
	 border-width: 25px 20px;
	 border-style: solid;
	 border-color: transparent;
	 border-right-color: #fff;
}
.profile {
	margin: 10px 0 50px;
}
dt {
	font-size: 0.9em;
	color: #555;
}
dd span {
	padding-left: 15px;
	color: #aaa;
}
.text {
	padding: 0 50px 0;
	position: relative;
}
.movie,
#lightgallery,
.img-box {
    max-width: 1000px;
    margin: 0 auto 50px;
}
.movie video {
  width: 100%;
}
#lightgallery a {
    display: inline-block;
}
#lightgallery a img {
    padding: 2px 5px;
}
.img-box {
	display: flex;
}
.zoom {
	float: left;
	max-width: 50%;
	padding: 20px;
}
.zoom img {
	width: 100%;
	transition-duration: 0.3s;
	border-radius:10px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
}
#lightgallery a img:hover,
.zoom img:hover {
	opacity:0.8;
    filter:alpha(opacity=80);
    transition: transform 0.5s linear;
	transform: scale(1.05);
	transition-duration: 0.3s;
}
.zoom img:hover {
	box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
}
.zoom p {
	text-align: center;
	padding-top: 15px;
}
.site-name {
	font-size: 1.2em;
	font-weight: 600;
}
@media only screen and (max-width: 1199px) {
	.text {
		padding: 0 30px 0;
	}
	#lightgallery a img {
		float: left;
		width: 44vw;
	}
}
@media screen and (max-width: 767px) {
	.text {
		padding: 0 20px 0;
	}
	.img-box {
	    display: inherit;
	}
	.zoom {
		float: inherit;
		max-width: 100%;
	}
}