@charset "UTF-8";
@import url('drawerMenu.css');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

html,body{
    padding:0;
    margin:0;
    height:100%
}
body {
	background-image: url("../images/common/bg.jpg");
	font-weight: 300;
	background-repeat: repeat;
	font-size: 1em;
	color: #eaeaea;
	line-height: 1.7em;
	letter-spacing: 0.03em;
}
.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-table;
}
header {
	margin-bottom: 2em;
}
#head-img {
	max-width: 800px;
	margin: 0 auto;
}
#head-img img {
	width: 100%;
}
.container {
    padding-bottom: 50px;
}
.content {
	position: relative;
	background-color: #282a35;
	margin-bottom: 2em;
	display: flow-root;
	padding: 1.5em;
    border: 2px dashed #eaeaea;
    border-radius: 8px;
    box-shadow: 0 0 0 10px #282a35;
}
.content::before {
 position: absolute;
 content: '';
 top: -25px;
 right: 30px;
 height: 60px;
 width: 20px;
 border: 3px solid #f0f0f0;
 background-color: none;
 border-radius: 12px;
 box-shadow: 1px 1px 2px #999;
 transform: rotate(10deg);
 z-index: 1;
}
.content::after {
 position: absolute;
 content: '';
 top: -12px;
 width: 10px;
 right: 40px;
 border: solid 5px #282a35;
 z-index: 2;
}
nav {
	z-index: 100;
	text-align: center;
}
nav ul {
	padding: 0 20px 5px 0;
	margin-bottom: 0;
}
nav li {
	list-style: none;
	display: inline-block;
	padding-left: 15px;
}
nav li a {
	color: #fff;
}
a:hover {
    color: #ccc;
}
nav li i {
	padding-right: 3px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
footer {
	color: #ccc;
	text-align: center;
	font-size: 80%;
	padding: 8px 0;
}
@media only screen and (max-width: 768px) {
	header h1 {
		font-size: 30px;
		padding: 10px;
		height: 50px;
	}
	header nav {
		transform: translateX(0%);
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		height: 123px;
	}
	nav ul {
		text-align: center;
	}
}
@media only screen and (max-width: 767px) {
	.content {
		padding: 2em 1em;
	}
}
/*fade-up   js-type ---------------------*/
.fade-up {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}
/*fade-in------------------------------*/
.fade-in {
    animation-name: fadein;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-iteration-count: 1;
}
@keyframes fadein {
	from {
	    opacity: 0;
	    transform: translateY(20px);
	}
	to {
	    opacity: 1;
	    transform: translateY(0);
	}
}
/*gotoTop-------------------------------*/
#gotoTop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 65px;
	height: 65px;
	text-align: center;
	color: #fff;
	background-color: #f0aeb6;
	opacity: 0.9;
	border-radius: 50%;
	z-index: 1;
}
#gotoTop a{
	position: relative;
	display: block;
	width: 65px;
	height: 65px;
	text-decoration: none;
	color: #fff;
}
#gotoTop a::before {
	font-family: 'FontAwesome';
	content: '\f102';
	font-size: 25px;
	color: #fff;
	position: absolute;
	width: 25px;
	height: 25px;
	top: -25px;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
}
#gotoTop a::after {
	content: 'PAGE TOP';
	position: absolute;
	font-size: 11px;
	top: 26px;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
}
.top-leaf {
	position: absolute;
	top: 0;
	right: 0;
	width: 50vw;
	max-width: 600px;
	z-index: 3;
}
.bottom-lace {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40vw;
    max-width: 450px;
}
.top-leaf img,
.bottom-lace img {
	width: 100%;
}